body {
  font-family: "K2D", sans-serif;
}
.font-prompt {
  font-family: "Prompt", sans-serif;
}
.bg-gray25 {
  background-color: #f5f5f5;
}
.bg-violet25 {
  background-color: #593780;
}
.bg-darkgreen {
  background-color: #376b16;
}
.bg-primary {
  background-color: #2ac4ea !important;
}
.bg-dark25 {
  background-color: #262626;
}
.bg-gray20 {
  background-color: #808080 !important;
}
.color-gray80 {
  color: #808080;
}
.sign-inout .text {
  display: inline-block;
  vertical-align: middle;
}
.btn.btn-signout {
  padding-right: 0;
}
.btn.btn-signout .svg-inline--fa {
  vertical-align: middle;
  margin-right: 4px;
}
.btn.btn-submit,
.btn.btn-reset {
  border-radius: 22px;
  min-width: 5rem;
  color: #fff;
}
.btn.btn-follow {
  border-radius: 22px;
  color: #fff;
}
.btn.btn-reset:focus {
  box-shadow: 0 0 0 0.2rem rgba(128, 128, 128, 0.3);
}
.breadcrumb-item a {
  color: #555;
}
.breadcrumb-item.active a {
  color: #000;
}
.contain-search {
  background: #fff;
  color: #808080;
  box-shadow: 0 2px 3px rgba(26, 26, 26, 0.2);
  -webkit-box-shadow: 0 2px 3px rgba(26, 26, 26, 0.2);
  -moz-box-shadow: 0 2px 3px rgba(26, 26, 26, 0.2);
}
.contain-search .svg-inline--fa {
  position: absolute;
  top: 50%;
  margin-top: -7px;
  left: 16px;
}
.contain-search .form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-left: 2rem;
}
.contain-search .btn {
  border-radius: 0 0.25rem 0.25rem 0;
}
.form-control::placeholder,
.form-control {
  color: #808080;
}
.btn.bg-primary:hover {
  background-color: #14a8cd !important;
}
.btn.bg-primary:focus {
  background-color: #14a8cd !important;
}
.subtexts {
  margin-top: 0.4rem;
}
.subtexts .title {
  flex-basis: 42%;
  font-weight: 600;
  font-size: 0.9rem;
}
.subtexts .des-text {
  flex-basis: 58%;
  font-size: 0.9rem;
  color: #808080;
  word-break: break-all;
}
.card {
  border: 0;
  box-shadow: 0 1px 3px #000;
  -webkit-box-shadow: 0 1px 3px #000;
}
.card-body .hz-line {
  height: 1px;
  width: 100%;
  background-color: #ddd;
}
.card-body .card-text.-foot {
  background: #fafafa;
}
.embed-responsive {
  border-bottom: 1px solid #ddd;
}
.embed-responsive .embed-responsive-item {
  object-fit: contain;
  object-position: center;
}
.embed-responsive-1by1::before {
  padding-top: 150%;
}
.tex-follow {
  color: #808080;
}
.form-control:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  color: #808080;
  border-color: #484848;
}
.head-title {
  font-size: 1.6rem;
}
.box-profile {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 0 auto;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  box-shadow: 0 1px 3px #001e00;
  border: 5px solid #fff;
}
.box-profile .img-user {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 19px;
}
.box-profile .add-file {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
  width: 100%;
}
.box-profile .icon-cam {
  position: absolute;
  bottom: -14px;
  right: -14px;
  width: 28px;
  height: 28px;
  z-index: 10;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: #fff;
  text-align: center;
  border: 2px solid #484848;
}
.allow-text {
  font-style: italic;
  font-size: 0.9rem;
  color: #808080;
}
.flex-container {
  display: flex;
  list-style: none;
  padding: 0;
  align-items: center;
  margin: 0;
}
.noti-box {
  position: relative;
}
.noti-box .notifications-span {
  display: inline-block;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #fff;
  font-size: 0.7rem;
  align-items: center;
  position: absolute;
  top: -6px;
  right: -6px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.num-text.addplus::after {
  display: inline-block;
  width: 6px;
  content: "+";
  font-size: 0.58rem;
}
.profile-icon {
  width: 28px;
  height: 28px;
  cursor: pointer;
}
.profile-icon .img-proicon {
  display: inline-block;
  height: auto;
  width: 100%;
}
.use-microphone {
  height: 100%;
  align-items: center;
}
.page-item {
  color: #2ac4ea;
}
.page-item.active .page-link {
  background-color: #2ac4ea;
  border-color: #2ac4ea;
}
.page-item .page-link {
  color: #2ac4ea;
}
.block-mtop {
  width: 100%;
  height: 5px;
}
textarea.form-control.settex-area {
  height: 110px;
}
.custom-file-label:after {
  background-color: #808080;
  color: #fff;
}
.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle {
  left: 50% !important;
  transform: translate(-50%) !important;
}
.btn-calendar {
  position: absolute;
  right: 14px;
  top: 50%;
  margin-top: -9px;
  color: #808080;
}
.bt-block {
  height: 60px;
}
.bx-ellipsis {
  cursor: pointer;
}
.title-head {
  text-decoration: none;
}
.title-head:hover {
  text-decoration: none;
}
.bx-icon {
  min-width: 44px;
  height: auto;
}
.icon-users {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #808080;
}
.icon-users:hover,
.icon-users:focus {
  color: #808080;
}
.icon-users figure {
  margin-bottom: 0;
}
.bxbtn-follow {
  width: 120px;
}
.box-hfoot {
  height: 1.5rem;
  background-color: #333;
}
.navbar-nav .nav-link {
  color: #fafafa;
}
@media screen and (min-width: 768px) {
  .head-title {
    font-size: 1.8rem;
  }
  .navbar-expand-lg .navbar-nav:first-child .nav-link {
    padding-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .subtexts .title {
    flex-basis: 46%;
  }
  .subtexts .des-text {
    flex-basis: 54%;
  }
  .btn.btn-submit,
  .btn.btn-reset {
    min-width: 8rem;
  }
  .embed-responsive-1by1::before {
    padding-top: 140%;
  }
}

.message-error {
  color: red;
  font-size: 0.8rem;
  font-style: italic;
}
